<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/login.css">

    <script type="text/javascript" src="/js/jquery-3.1.1.slim.min.js"></script>
    <script type="text/javascript" src="/js/tether.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
    <script  type="text/javascript" src="/js/login.js"></script>

    <title>Spring Security Example </title>

</head>
<body>

<div class="modal-dialog">
    <div class="loginmodal-container">
        <h1>Create to Your Account</h1><br>

        <form action="/user/create" method="post">
            <input type="text" name="username" placeholder="Username">
            <input type="password" name="password" placeholder="Password">
            <input type="submit" name="login" class="login loginmodal-submit" value="Register">
        </form>

        <div class="login-help">
            <a href="/login">Login</a>
        </div>
    </div>
</div>



</body>
</html>