<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>Hero : {{hero.name}}</h1>
    <h2>Player : {{userName}}</h2>
    {{#hero}}
        <h2>Stats</h2>
        {{#stats}}
            {{#entrySet}}
            <h4>{{key}} : {{value}}</h4>
            {{/entrySet}}
        {{/stats}}
        <h2>Stuff</h2>
        {{#stuff}}
            {{#entrySet}}
            <h4>{{key}} : {{value.name}} {{value.durability}}</h4>
            {{/entrySet}}
        {{/stuff}}
    {{/hero}}
</body>
</html>