<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/png" href="/img/gift.png" />
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title>Legendary Crafter</title>
</head>

<body>


<nav class="navbar navbar-inverse">
    <div class="container-fluid">

        <ul class="nav navbar-nav">

            <li>
                <a href="/">
                    <span class="glyphicon glyphicon-gift"></span> Legendary Crafter
                </a>
            </li>

            <li>
                <a href="/app/list/">
                    <span class="glyphicon glyphicon-th"></span> Game Heros
                </a>
            </li>
        </ul>


        <ul class="nav navbar-nav navbar-right">

            <li><a href="/app/"><span class="glyphicon glyphicon-user"></span>
            </a>
            </li>

        </ul>
    </div>
</nav>


<div class="container">
    <div class="table-responsive">
        <h2>List of Heros</h2>
        <table class="table">
            <thead>
            <tr class="info">
                <th>Hero</th>
                <th>Details</th>
            </tr>
            </thead>
            <tbody>

            {{#userList}}
            <h4>{{name}}</h4>
            {{#heroes}}
            <tr  class="success">
                <td>{{name}}</td>
                <td><a href="/app/inspection/{{#userList}}{{name}}{{/userList}}/{{name}}" class="btn btn-primary" role="button">Show</a></td>
            </tr>
            {{/heroes}}
            {{/userList}}

            </tbody>
        </table>
    </div>
</div>
</body>
</html>