<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>Greetings {{name}}</h1>

    <h2>List of Heroes</h2>
    {{#heroes}}
        <ul>
            <li><a href="/app/hero/{{name}}">{{name}}</a></li>
        </ul>
    {{/heroes}}

    <h2> Hero creation</h2>
        <form action="/app/" method="post">
            <input type="text" name="heroName"  title="name of the hero"/>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>

    <H2> tools</H2>
    <a href="/app/list/">list of all heroes of the game </a>
</body>
</html>